<a target="_blank" href="{{adLink}}">
  	<img src="{{imageUrl.pic2.url}}" class="img-small">
</a>
<a target="_blank" href="{{adLink}}">
  	<img src="{{imageUrl.pic1.url}}" class="img-big">
</a>
<span class="hide-duilian">x</span>
