<div be-poslv2='BE_107236'>
  <!-- 瓷砖首页LOGO（全国） -->
</div>
<p></p>
<div be-poslv2='BE_107260'>
  <!-- 家居首页静态全屏（全国） -->
</div>
<p></p>
<div be-poslv2='HOME_DUILIAN_LEFT' class="duilian-left">
  <!-- 家居首页对联左（全国） -->
</div>
<br>
<div be-poslv2='HOME_DUILIAN_RIGHT' class="duilian-right">
  <!-- 家居首页对联左（全国） -->
</div>
<br>
<div class="ad-group2-v2" style="display:none;">
    <div be-poslv2='BE_107262'>
    <!-- 家居首页顶部通栏（分城市） -->
    </div>
    <br />
    <div be-poslv2='BE_107263'>
    <!-- 家居首页顶部小通栏1（分城市) -->
    </div>
    <br />
    <div be-poslv2='BE_107264'>
    <!-- 家居首页顶部小通栏2（分城市） -->
    </div>
    <br />
    <div be-poslv2='BE_107265'>
    <!-- 家居首页顶部小通栏3（分城市） -->
    </div>
    <br />
    <div be-poslv2='BE_107266'>
    <!-- 家居首页顶部小通栏4（分城市） -->
    </div>
    <br />
    <div be-poslv2='BE_107267'>
    <!-- 家居首页顶通下通栏（分城市） -->
    </div>
    <div be-poslv2='HOME_LUNHUAN_1'>
      <!-- 家居首页首屏左侧半通栏轮换之1（全国） -->
    </div>
    <p></p>
    <div be-poslv2='HOME_LUNHUAN_2'>
      <!-- 家居首页首屏右侧半通栏轮换之1（全国） -->
    </div>
    <p></p>
    <div be-poslv2='HOME_LUNHUAN_3'>
      <!-- 家居首页第一通栏轮换之1（全国） -->
    </div>
</div>

<br />
<div be-poslv2='BE_107268'>
<!-- 家居首页焦点图之一（全国） -->
</div>
<br />
<div be-poslv2='BE_107269'>
<!-- 家居首页焦点图之二（全国） -->
</div>
<p></p>
<div be-poslv2='HOME_LUNHUAN_4'>
  <!-- 家居首页第二通栏轮换之1（全国） -->
</div>
<p></p>

<ul class="be-famous">
  <!-- 家居首页名品汇专区（全国） -->
  <!-- ul,li的border，width样式，根据需求在页面上自己写 -->
  <!-- 我只设定了li的float:left; -->
  <li be-poslv2="BE_FAMOUS1"></li>
  <li be-poslv2="BE_FAMOUS2"></li>
  <li be-poslv2="BE_FAMOUS3"></li>
  <li be-poslv2="BE_FAMOUS4"></li>
  <li be-poslv2="BE_FAMOUS5"></li>
  <li be-poslv2="BE_FAMOUS6"></li>
  <li be-poslv2="BE_FAMOUS7"></li>
  <li be-poslv2="BE_FAMOUS8"></li>
  <a target="_blank" href="#">
    <img>
  </a>
</ul>


<div be-poslv2='BE_107286'>
<!-- 家居首页第三通栏（全国） -->
</div>
<br />
<div be-poslv2='BE_107287'>
<!-- 家居首页第四通栏（分城市） -->
</div>
<br />
<div be-poslv2='BE_107288'>
<!-- 家居首页第五通栏（全国） -->
</div>
<br />
<div be-poslv2='BE_107289'>
<!-- 家居首页第六通栏（分城市） -->
</div>
<br />

<!-- 添加样式 -->
<div class='ad-tab-box'>
    <ul be-poslv2='BE_107290' style="height:60px;">
    <!-- 家居首页品牌推荐专区-家居卖场（全国）-->
    </ul>
    <ul be-poslv2='BE_107291' style="height:60px;">
    <!-- 家居首页品牌推荐专区-装饰公司（全国） -->
    </ul>
    <ul be-poslv2='BE_107292' style="height:60px;">
    <!-- 家居首页品牌推荐专区-瓷砖卫浴（全国） -->
    </ul>
    <ul be-poslv2='BE_107293' style="height:60px;">
    <!-- 家居首页品牌推荐专区-五金辅材（全国） -->
    </ul>
    <ul be-poslv2='BE_107294' style="height:60px;">
    <!-- 家居首页品牌推荐专区-家居衣柜（全国） -->
    </ul>
    <ul be-poslv2='BE_107295' style="height:60px;">
    <!-- 家居首页品牌推荐专区-卫厨电器（全国） -->
    </ul>
    <ul be-poslv2='BE_107296' style="height:60px;">
    <!-- 家居首页品牌推荐专区-地板门窗（全国） -->
    </ul>
    <ul be-poslv2='BE_107297' style="height:60px;">
    <!-- 家居首页品牌推荐专区-涂料壁纸（全国） -->
    </ul>
</div>

<br />
<div be-poslv2='BE_107298'>
<!-- 家居首页第七通栏（全国） -->
</div>
<br />
<div be-poslv2='BE_107299'>
<!-- 家居首页第八通栏（全国） -->
</div>
<br />
<div be-poslv2='BE_107300'>
<!-- 家居首页第九通栏（分城市） -->
</div>
<br />
<div be-poslv2='BE_107301'>
<!-- 家居首页首屏搜索框左侧logo标题图（全国） -->
</div>
<br />
<div be-poslv2='BE_107302'>
<!-- 家居首页流内容第一个卡片位 -->
</div>
<br />

<div be-poslv2='HOME_LUNHUAN_5'>
  <!-- 家居首页流内容横通广告位(静态图;790*294,文字链,文字链,文字链) -->
</div>

<div be-poslv2='HOME_LUNHUAN_6'>
  <!-- 家居首页流内容横通广告位(静态图;380*294,文字链,文字链,文字链) -->
</div>

<!-- // 家居首页流置顶内容位1（城市） -->
<div be-poslv2='BE_107307'></div>

<!-- // 家居首页流置顶内容位2（城市） -->
<div be-poslv2='BE_107308'></div>

<!-- // 家居首页流置顶内容位3（城市） -->
<div be-poslv2='BE_107309'></div>

<!-- // 家居首页流置顶内容位4（城市） -->
<div be-poslv2='BE_107310'></div>

<!-- // 家居首页流置顶内容位5（全国） -->
<div be-poslv2='BE_107311'></div>

<!-- // 家居首页流置顶内容位6（全国） -->
<div be-poslv2='BE_107312'></div>

<!-- // 家居首页城市焦点图之一（城市） -->
<div be-poslv2='BE_107313'></div>

<!-- // 家居首页城市焦点图之二（城市） -->
<div be-poslv2='BE_107314'></div>
