<!--墙面频道首页-->
<div be-poslv2='WAL_LUNHUAN_1'>
  <!-- 第一通栏轮换 -->
</div>
<p></p>
<div be-poslv2='BE_107252'>
  <!-- logo标题图 -->
</div>
<p></p>
<div be-poslv2='BE_107176'>
  <!-- 焦点图之一 -->
</div>
<p></p>
<div be-poslv2='BE_107177'>
  <!-- 焦点图之二 -->
</div>
<p></p>
<div be-poslv2='BE_107253'>
  <!-- 焦点图下通栏 -->
</div>
<p></p>
<div be-poslv2='BE_107178'>
  <!-- 右侧第一矩形 -->
</div>
<p></p>
<div be-poslv2='BE_107179'>
  <!-- 右侧第二矩形 -->
</div>
<p></p>
<div be-poslv2='BE_107180'>
  <!-- 右侧小通栏 -->
</div>
<p></p>
<div be-poslv2='BE_107181'>
  <!-- 右侧资讯1号文字链 -->
</div>
<p></p>
<div be-poslv2='BE_107182'>
  <!-- 右侧资讯2号文字链 -->
</div>
<p></p>
<div be-poslv2='BE_107183'>
  <!-- 底部第一通栏 -->
</div>
<p></p>
<div be-poslv2='BE_107184'>
  <!-- 底部第二通栏 -->
</div>
<p></p>
