<!-- 工长列表页 -->
<div be-poslv2='BE_107058'>
	<!-- 第一通栏 -->
</div>
<p></p>
<div be-poslv2='BE_107059'>
  	<!-- 右侧第一矩形 -->
</div>
<p></p>
<div be-poslv2='BE_107060'>
  	<!-- 右侧第二矩形-->
</div>
<p></p>
<div be-poslv2='MAN_LUNHUAN_1'>
  <!-- 底部通栏轮换 -->
</div>
