<div class="module-zixun" node-type="recomm-houses">
  	<div class="zixun-h global-clearfix">
    	<h2>推荐</h2>
  	</div>
    
  	<ul be-poslv2='BE_21'>
    	<!-- 二手房 -->
  	</ul>
    <p></p>
  	<ul be-poslv2='BE_89'>
    	<!-- 租房 -->
  	</ul>
</div>
