<!-- 装修公司列表页 -->
<div be-poslv2='COM_LUNHUAN_1'>
	<!-- 第一通栏轮换之1 -->
</div>
<p></p>

<div be-poslv2='COM_LUNHUAN_2'>
	<!-- 右侧第一矩形轮换 -->
</div>
<p></p>

<div be-poslv2='COM_LUNHUAN_3'>
	<!-- 右侧第二矩形轮换 -->
</div>
<p></p>

<div be-poslv2='BE_107069'>
  	<!-- 底部通栏 -->
</div>
<p></p>
