<div be-poslv2='BE_108001' style="display:none;">
	{{!-- 焦点图之五 --}}
</div>
<div be-poslv2='BE_108002' style="display:none;">
	{{!-- 焦点图之六 --}}
</div>
<div be-poslv2='BE_108003' style="display:none;">
	{{!-- 设计作品下通栏 --}}
</div>
<div be-poslv2='BE_108004' style="display:none;">
	{{!-- 文章推荐信息流第四条图文混排 --}}
</div>
<div be-poslv2='WAP_LUNHUAN1' style="display:none;">
	{{!-- 流广告位轮换之一 --}}
</div>
<div be-poslv2='WAP_LUNHUAN2' style="display:none;">
	{{!-- 流广告位轮换之一 --}}
</div>
<dd be-poslv2='BE_108007' class="sub-tit" style="display:none;">
<!-- 家居首页流内容第一个卡片位 -->
</dd>


<!-- 城市焦点图之一 （分城市） -->
<div be-poslv2='BE_108010' style="display:none;"></div>
<!-- 城市焦点图之二（分城市）  -->
<div be-poslv2='BE_108011' style="display:none;"></div>
<!-- 流广告内容置顶推广1 （分城市） -->
<div be-poslv2='BE_108012' style="display:none;"></div>
<!-- 流广告内容置顶推广2 （分城市） -->
<div be-poslv2='BE_108013' style="display:none;"></div>
<!-- 流广告内容置顶推广3 （分城市） -->
<div be-poslv2='BE_108014' style="display:none;"></div>
<!-- 流广告内容置顶推广4 （分城市） -->
<div be-poslv2='BE_108015' style="display:none;"></div>
<!-- 流广告内容置顶推广5 -->
<div be-poslv2='BE_108016' style="display:none;"></div>
<!-- 流广告内容置顶推广6 -->
<div be-poslv2='BE_108017' style="display:none;"></div>
